body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; /* Centro verticale */
    height: 100vh; /* Assicurati che l'altezza sia del 100% della vista */
    text-align: center; /* Centro il testo */
    margin: 0; /* Rimuovi il margine per evitare uno spostamento */
}

#container {
    width: 80%;
    max-width: 800px;
    text-align: center; /* Centro il contenuto del container */
}

.sector {
    border: 1px solid #444;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

